body {
	margin: 0;
	height: 100%;
	background-color: #FFFDF1;
}

h1 {
	/*font-size: 8em;*/
	font-size: 18vh;
	font-family: 'Lobster';
	/*color: #89ACFE;*/
	color: #3C74F5;
}

/*p {
	font-family: 'Raleway';
	font-size: 1.5em;
}

h3 {
	font-family: 'Raleway';
	font-style: bold;
}*/

.btn {
	background-color: #3C74F5;
	border-color: #3C74F5;
	font-family: 'Lobster';
	/*text-transform: lowercase;
	font-size: 20px;*/
}

/*-----------------*/

/*.flex {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 6em;
	justify-content: center;
	align-items: center;
}*/

.title {
	margin-bottom: 0.3em;
	margin-top: 5em;
}

.paragraph {
	text-align: center;
	width: 20em;
	margin-bottom: 2em;
	margin-left: 38.9%;
}

.search {
	width: 30em;
	/*width: 25em;*/
}

.percentile {
	text-align: center;
}

/*-----------------*/

.grid-container {
  display: grid;
  height: 50vh;
  grid-template-rows: 1.5fr 0.5fr;
  grid-gap: 10px;
  text-align: center;
}

.flex{
	display: flex;
	margin-top: 8em;
	justify-content: space-around;
	align-items: center;
}

p {
	font-family: 'Comfortaa';
	font-size: 1.2em;
} 

.output-styling {
	font-family: 'Comfortaa';
	/*color: #8C7F90;*/
}

.percent-color {
	color: #3C74F5;
}

.percent-styling {
	font-size: 3em;
	font-family: 'Lobster';
}





