body {
	margin: 0;
	height: 100%;
	background-color: #FFFDF1;
}

h1 {
	font-size: 18vh;
	font-family: 'Lobster';
	color: #3C74F5;
}

h3 {
	font-family: 'Raleway';
	font-style: bold;
}

p {
	font-family: 'Comfortaa';
	font-size: 1.2em;
}

.btn {
	background-color: #3C74F5;
	border-color: #3C74F5;
	font-family: 'Lobster';
	font-size: 1.3em;
}

.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.title {
	margin-bottom: 0.3em;
	margin-top: 5em;
}

.paragraph {
	width: 20em;
	margin-bottom: 1.1em;
	margin-top: 0.7em;
}

.search {
	width: 30em;
}

.percentile {
	text-align: center;
}

.output-styling {
	font-family: 'Comfortaa';
}

.percent-color {
	color: #3C74F5;
}

.percent-styling {
	font-size: 3em;
	font-family: 'Lobster';
}

/*__________MEDIA QUERIES__________*/

/*MOBILE DEVICES*/

@media only screen and (max-device-width: 420px) and (min-device-width: 320px) {

	.title {
		margin-top: 0em;
	}

	.paragraph {
		margin-bottom: 0em;
	}

	.search {
		width: 100%;
	}

	.flexbox {
		display: flex;
		flex-wrap: wrap;
		direction: column;
		justify-content: center;
	}

	.flex {
		flex-wrap: wrap;
		margin-top: 3em;
	}

	.mobile-flexbox {
		display: flex;
		flex-wrap: wrap;
		direction: column;
		justify-content: center;
	}
	
}

/*iPHONE 5/SE*/

@media only screen and (max-device-width: 320px) {

	.flexbox {
		margin-bottom: 3em;
	}

}